body{
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-color: #efe7e9;
}

header {
    background-color: #d21034;
  }
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background-color: rgb(38, 128, 50);
    position: relative;
    width:200px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  div.relative {
      position: relative;
      left: 80px;
      right: 80px;
     
      border: 3px solid #73AD21;
    }
  
  a {
    color: #2c3031;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
 
  body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
  }
  

  .wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 45px;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  
  #relative {
    position: relative;
    height: 800px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #eee;
  }
  
  #absolute {
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
  }
  #about_me_tag{
    text-align: left;
    color: rgb(38, 128, 50);
    font-size: 30px;
  }
   